html{
    background-color:lightsteelblue;
   
}
header{
    background:url("images/sunset.jpg");
    width: 100%;
    height: 50px;
    background-size:50% 50%;
    background-position: center center;
    position:relative;
    text-align:center ;
    margin:0%;
    padding left:0;
}

.mainheader{
    color:white;
    position:absolute;
    margin:20% 30%;
    text-align:center;
    font-family:poppins;
    text-transform: uppercase;
}

h1{
    text-align: center;
    padding-top: 5%;
}

.heading{
    text-align: center;
}
.tinayong{
    border:5px solid lightslategray;
    padding:1%;
    margin bottom: 2%;
    float: left;
    width: 33%;
    height:40%;
    margin-left: 80px;
    margin-right: 220px;
    margin-top: 20px;
    text-align: left;
}

.mcd{
    border: 5px solid lightslategray;
    padding:1%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
    width: 33%;
    height:40%;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    text-align: left;
 
}

.shopee{
    border:5px solid lightslategray;
    padding:1%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
    width: 33%;
    height:40%;
    margin-left: 80px;
    margin-right: 220px;
    margin-top: 20px;
    text-align: left;
}

.freelance{
    border:5px solid lightslategray;
    padding:1%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
    width: 33%;
    height:20%;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    text-align: left;
}
/*Site Navigation*/
.site-nav{
    margin-top: 0px;
    margin-bottom: 50px;
}
.site-nav ul{
    margin:0;
    padding:0;
}
.site-nav li{
    list-style: none;
    float:left;
    margin-right:5px;
    margin-bottom: 2%;
}

.site-nav a{
    color: palevioletred;
    text-decoration: none;
    padding:10px 20px;
    border:4px solid;
    font-size: 115%;
    font-family: poppins;
}
.site-nav a:hover {
    color:thistle;
}

/* End of Site Navigation*/
